[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git@github.com:MiniKeePass/MBProgressHUD.git
[submodule "aerogear-otp-ios"]
	path = aerogear-otp-ios
	url = https://github.com/markhewett/aerogear-otp-ios.git
