[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git@github.com:MiniKeePass/MBProgressHUD.git
[submodule "phc-winner-argon2"]
	path = phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2
